.popup__button-save {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 48px 0 0 0;
  padding: 15px 0 15px;
  background: #000000;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  transition: .2s linear;
}

.popup__button-save:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__button-save {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin: 42px 0 0 0;
  }
}
