.profile {
  max-width: 880px;
  margin: 40px auto 51px;
  display: grid;
  grid-template-columns: 120px auto 150px;
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: repeat(1, 1fr);
    padding: 42px 0 0;
    margin: auto;
  }
}
