.profile__name-container {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

@media screen and (max-width: 600px) {
  .profile__name-container {
    margin: 2px 0px 0px 27px;
  }
}
